In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [48]:
import io
%cd "C:\Users\chkee\Downloads\Imarticus Learning\Python\Blackfriday"

C:\Users\chkee\Downloads\Imarticus Learning\Python\Blackfriday

In [49]:
blackfriday_test=pd.read_csv("Blackfriday_test.csv")

In [50]:
blackfriday_train=pd.read_csv("blackfriday_train.csv")

In [51]:
blackfriday_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [52]:
blackfriday_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     233599 non-null  int64
 1   Product_ID                  233599 non-null  object
 2   Gender                      233599 non-null  object
 3   Age                         233599 non-null  object
 4   Occupation                  233599 non-null  int64
 5   City_Category               233599 non-null  object
 6   Stay_In_Current_City_Years  233599 non-null  object
 7   Marital_Status              233599 non-null  int64
 8   Product_Category_1          233599 non-null  int64
 9   Product_Category_2          161255 non-null  float64
 10  Product_Category_3          71037 non-null   float64
dtypes: float64(2), int64(4), object(5)
memory usage: 19.6+ MB

In [8]:
#concat both the files
# To concat same number of colums in both tables

In [53]:
#Add temporarily a column in test table as purchase and fill it with test
blackfriday_test['Purchase']='test'

In [54]:
combinedf=pd.concat([blackfriday_test,blackfriday_train],axis=0)
#row wise concatination

In [55]:
combinedf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 783667 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     783667 non-null  int64
 1   Product_ID                  783667 non-null  object
 2   Gender                      783667 non-null  object
 3   Age                         783667 non-null  object
 4   Occupation                  783667 non-null  int64
 5   City_Category               783667 non-null  object
 6   Stay_In_Current_City_Years  783667 non-null  object
 7   Marital_Status              783667 non-null  int64
 8   Product_Category_1          783667 non-null  int64
 9   Product_Category_2          537685 non-null  float64
 10  Product_Category_3          237858 non-null  float64
 11  Purchase                    783667 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 77.7+ MB

In [57]:
combinedf.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            245982
Product_Category_3            545809
Purchase                           0
dtype: int64

In [58]:
#separate num and obj cols for preprocessing
numcols=combinedf.select_dtypes(include=np.number)
objcols=combinedf.select_dtypes(include=['object'])

In [59]:
numcols.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 783667 entries, 0 to 550067
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   User_ID             783667 non-null  int64
 1   Occupation          783667 non-null  int64
 2   Marital_Status      783667 non-null  int64
 3   Product_Category_1  783667 non-null  int64
 4   Product_Category_2  537685 non-null  float64
 5   Product_Category_3  237858 non-null  float64
dtypes: float64(2), int64(4)
memory usage: 41.9 MB

In [64]:
numcols.Product_Category_2.value_counts(dropna=False)

NaN     245982
8.0      91317
14.0     78834
2.0      70498
16.0     61687
15.0     54114
5.0      37165
4.0      36705
6.0      23575
11.0     20230
17.0     19104
13.0     15054
9.0       8177
12.0      7801
10.0      4420
3.0       4123
18.0      4027
7.0        854
Name: Product_Category_2, dtype: int64

In [13]:
blackfriday_train.Product_Category_3.value_counts().sort_values(ascending=False)

16.0    32636
15.0    28013
14.0    18428
17.0    16702
5.0     16658
8.0     12562
9.0     11579
12.0     9246
13.0     5459
6.0      4890
18.0     4629
4.0      1875
11.0     1805
10.0     1726
3.0       613
Name: Product_Category_3, dtype: int64

In [65]:
for col in numcols.columns:
    numcols[col]=numcols[col].fillna('missing')

In [67]:
numcols.head()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,7,1,1,11.0,missing
1,1000009,17,0,3,5.0,missing
2,1000010,1,1,5,14.0,missing
3,1000010,1,1,4,9.0,missing
4,1000011,1,0,4,5.0,12.0

In [71]:
objcols.head()

  Product_ID Gender    Age City_Category Stay_In_Current_City_Years Purchase
0  P00128942      M  46-50             B                          2     test
1  P00113442      M  26-35             C                          0     test
2  P00288442      F  36-45             B                         4+     test
3  P00145342      F  36-45             B                         4+     test
4  P00053842      F  26-35             C                          1     test

In [16]:
objcols.Age.value_counts(dropna=False).sort_values(ascending=True)

0-17      21334
55+       30579
51-55     54784
46-50     65278
18-25    141953
36-45    156724
26-35    313015
Name: Age, dtype: int64

In [17]:
objcols.City_Category.value_counts(dropna=False).sort_values(ascending=True)

A    210244
C    243684
B    329739
Name: City_Category, dtype: int64

In [18]:
objcols.Stay_In_Current_City_Years.value_counts(dropna=False).sort_values(ascending=True)

0     105716
4+    120671
3     135428
2     145427
1     276425
Name: Stay_In_Current_City_Years, dtype: int64

In [72]:
#combine all the dataframes to do EDA which is after preprocessing
combinedf_eda=pd.concat([numcols,objcols],axis=1)

In [73]:
combinedf_eda

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Product_ID,Gender,Age,City_Category,Stay_In_Current_City_Years,Purchase
0,1000004,7,1,1,11.0,missing,P00128942,M,46-50,B,2,test
1,1000009,17,0,3,5.0,missing,P00113442,M,26-35,C,0,test
2,1000010,1,1,5,14.0,missing,P00288442,F,36-45,B,4+,test
3,1000010,1,1,4,9.0,missing,P00145342,F,36-45,B,4+,test
4,1000011,1,0,4,5.0,12.0,P00053842,F,26-35,C,1,test
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,13,1,20,missing,missing,P00372445,M,51-55,B,1,368
550064,1006035,1,0,20,missing,missing,P00375436,F,26-35,C,3,371
550065,1006036,15,1,20,missing,missing,P00375436,F,26-35,B,4+,137
550066,1006038,1,0,20,missing,missing,P00375436,F,55+,C,2,365
550067,1006039,0,1,20,missing,missing,P00371644,F,46-50,B,4+,490

In [21]:
objcols.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 783667 entries, 0 to 550067
Data columns (total 6 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Product_ID                  783667 non-null  object
 1   Gender                      783667 non-null  object
 2   Age                         783667 non-null  object
 3   City_Category               783667 non-null  object
 4   Stay_In_Current_City_Years  783667 non-null  object
 5   Purchase                    783667 non-null  object
dtypes: object(6)
memory usage: 41.9+ MB

In [74]:
y = combinedf_eda.Purchase

In [75]:
combinedf_eda=combinedf_eda.drop('Purchase',axis=1)

In [76]:
combinedf_eda.columns

Index(['User_ID', 'Occupation', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Product_ID', 'Gender',
       'Age', 'City_Category', 'Stay_In_Current_City_Years'],
      dtype='object')

In [78]:
combinedf_eda = pd.get_dummies(combinedf_eda,columns=['Occupation', 'Marital_Status', 'Product_Category_1','Product_Category_2', 'Product_Category_3', 'Gender','Age', 'City_Category', 'Stay_In_Current_City_Years'])

In [83]:
combinedf_eda.drop(['User_ID','Product_ID'],axis=1,inplace=True)

,Occupation_0,Occupation_1,Occupation_2,Occupation_3,Occupation_4,Occupation_5,Occupation_6,Occupation_7,Occupation_8,Occupation_9,...,Age_51-55,Age_55+,City_Category_A,City_Category_B,City_Category_C,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550063,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
550064,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
550065,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
550066,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
550067,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [84]:
combinedf_eda['Purchase'] = y

In [86]:
train_df = combinedf_eda[combinedf_eda.Purchase != 'test']
test_df = combinedf_eda[combinedf_eda.Purchase == 'test']

In [87]:
X = train_df.drop('Purchase',axis=1)
y = train_df.Purchase
test_df = test_df.drop('Purchase',axis=1)

In [88]:
X.shape, test_df.shape

((550068, 94), (233599, 94))

In [90]:
#Change the type of y to float as its in object-
#Its done to ensure that the dependent variable is numeric to build regression model
y=y.astype(float)

In [91]:
#LINEAR REGRESSION MODEL
from sklearn.linear_model import LinearRegression

In [92]:
reg=LinearRegression()

In [93]:
reg_model=reg.fit(X,y)

In [94]:
reg_model.score(X,y)

0.6478862267179023

In [95]:
#As the Rsquare value is less than 0.60 the model is undefitting so we will do lograthmeic transformation of y
# Build a model with lograthemic transformation
reg_model_log=reg.fit(X,np.log(y))

In [96]:
reg_model_log.score(X,np.log(y))

0.7405294979396583

In [97]:
from sklearn.model_selection import cross_val_score

In [99]:
np.mean(cross_val_score(reg,X,np.log(y)))

-6.162352288633688e+18

In [100]:
#prediction of test data
reg_predict=reg_model.predict(X)

In [101]:
reg_resid=y-reg_predict

In [102]:
np.sqrt(np.mean(reg_resid**2))

10530.0673843547