In [18]:
                                            # DATA PREPROCESSING
#MULTIVARIATE DATA

# 1)check duplicate columns and variables-info()
# If any duplicate variables delete them accordingly

# 2)Single value columns/variables- All the values and the variables are of single value like 1,0
# Describe()- mean, Min, Max all are 0.

#3) Missing value imputation- Missing value occus due to negiligence in data entry, wrong entry,machine faliure etc
# If missing values are greater than 70% of the columnn the with word "Missing" /"Not available"
# If it is numerical column replace with "999"
# If missing values are less than 70% column or variable imputation is based on variable type
#  If Numeric variable mean or median type imputation
# if categoric variable / Non numeric- Most frequent or Mode
# This manual imputation where the specif column or variables mean/median/ mode is used for impputation and do not consider the impact of other variables on missing value.


# Alogratim based missing value imputation.
# Considers the impact of other variables on the missing value and imputes accordingly.

# Multivariate imputation based on chained Equations(MICE) 
# Impute both numerical and categorical data simultaneously-Python skilearn iterative imputer

#KNN Imputer- Uses K nearest algorithm  using Euclidean disatnce. Imputation is based on closest neighbours.
# KNN Imputer works only on numeric data.
# Other algorithms available in python like pobablistic principal component analysis Algorithm.

In [19]:
# 4) DATA TRANSFORMATION
# Its where we resize or reshape the range to specific range of values.
# Dependent variables (y)- is the variable which is asked to predict- Regression problem- Skewness and outliners are the biggest issues
# Y is numerical , continuous,closer to normal distribution with minimum outliners and no missing values-Regression Models.
# Positive skewness - Lograthmic Transformation or square root transformation
# Negative skewness - Exponentinal transorfation or power transformation

# Dependent variables (y)- is non numeric or either Binary (Yes/No) OR Multinomial(more than 2 levels)- Classification models must be used
# Ex- Multinomial- Emotional variable- Happy,sad,very sad, neutral.
# Imbalance data is biggest problem. Ex- Credit card default(y) -Yes(1000),No(9000). Minority class (yes) prediction will be worst.
# Sampling like under sampling and oversampling must be impleted.


# Independent variables(X)- Numeric variables- When variables are in different mathematical units
# Ex- X1-Lakhs,X2-Thousands,X3-Hundreds, X4-Tens,X5-Discrete values.-Scaling of the data must be done.
# 1) Srandard scaler or standardization- Calculate Z Score= (X-Mean)/ SD
# Scaling will give both +ve and -Ve values
# 2) Min Max scaler Or Normalisation- (X-Min)/(Xmax-XMin) will scale all values in the range of 0 to 1 without negative values.
# 3) Robust values based on Quartiles - (X-Q2)/(Q3-Q1) is used when data has many outliners.

# 5)dummy variables Encoding.
#Independent variables(X)- Non Numeric or Categorical.- X should be always numeric SO,
# Assign numerical identifiers to text categories called dummy variables Encoding.
# A) Label encoder- encodes the object or categorical data by assigning numeric identifiers from 0 to n levels/classes in alphabetic order
# EX- Gender-F,M,M,M,F,F,F,M
#     Gender-1,0,0,0,1,1,1,0

# B) pd.get_dummies()-encodes the object or categorical data using binary encoding(Yes-1,No-0) and also adds additional columns/variables based on levels in categorical data
# EX- Gender-F,M,M,M,F,F,F,M
#  Gender_F-1,0,0,0,1,1,1,0
#   Gender_M-0,1,1,1,0,0,0,1


#5) Dealing with DUPLICATE LEVELS OR CLASSESIN CATEGORICAL VARIABLES
#Ex- Male,M,m,F,Female
 
#6) Dealing with characters like coma, space,currency in numeric data. String or regular expression functions must be used.

#7) Extracting information like codes from Alpha numeric Identifiers Or ID

#8) Formatting dates into default YYYY-MM-DD HH:MM:SS. pd.to_datetime()

#9) Create new variables from existing variables. Combination of multiple variable

#10) Converting variables from categorical to numeric or vice-versa.

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
import io
%cd "C:\Users\chkee\Downloads\Imarticus Learning\Python"

C:\Users\chkee\Downloads\Imarticus Learning\Python

In [22]:
bigmarttrain=pd.read_csv('train_v9rqX0R.csv')

In [23]:
bigmarttest=pd.read_csv("test_AbJTz2l.csv")

In [24]:
print(bigmarttrain.shape)
print(bigmarttest.shape)

(8523, 12)
(5681, 11)

In [25]:
# Train data is complete data with dependent variable inclued which will be used for building machine learning models
# test data will not have dependent variable and needs to be predicted using the model built on train data.
# Sample submission is where we copy the prediction of test data and submit the file to competition site for checking score and rank.

In [26]:
bigmarttrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [27]:
bigmarttest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Weight                4705 non-null   float64
 2   Item_Fat_Content           5681 non-null   object
 3   Item_Visibility            5681 non-null   float64
 4   Item_Type                  5681 non-null   object
 5   Item_MRP                   5681 non-null   float64
 6   Outlet_Identifier          5681 non-null   object
 7   Outlet_Establishment_Year  5681 non-null   int64
 8   Outlet_Size                4075 non-null   object
 9   Outlet_Location_Type       5681 non-null   object
 10  Outlet_Type                5681 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [28]:
# Data preprocessing- Whatever preprocessing done on train data same must be done on the test data.
# For preprocessing typicaly combine both train and test data into single frame
# For concatination  of 2 data frames must have equal columns and rows and in same order

In [29]:
# Temporarily add dependent variable to test data for concatination
bigmarttest['Item_Outlet_Sales']='test'

In [30]:
combinedf=pd.concat([bigmarttrain,bigmarttest],axis=0)
#axis=0 is row wise concat
# axis=1 is column concat

In [31]:
combinedf.Outlet_Size.value_counts(dropna=False)

Medium    4655
NaN       4016
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

In [32]:
#Since we cannot replace NaN with the 3 levels as it will create large bias,impute with word "missing"
combinedf.Outlet_Size=combinedf.Outlet_Size.fillna("Missing")  # fillna is the function for filling the missing values

In [33]:
combinedf.Item_Weight.describe()

count    11765.000000
mean        12.792854
std          4.652502
min          4.555000
25%          8.710000
50%         12.600000
75%         16.750000
max         21.350000
Name: Item_Weight, dtype: float64

In [34]:
combinedf.Item_Weight=combinedf.Item_Weight.fillna(combinedf.Item_Weight.mean())

In [35]:
combinedf.Item_Fat_Content.value_counts(dropna=False)  # Duplicate levels

Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

In [36]:
combinedf.Item_Fat_Content=combinedf.Item_Fat_Content.replace(['LF','low fat'], 'Low Fat') # Replace

In [37]:
combinedf.Item_Fat_Content=combinedf.Item_Fat_Content.replace('reg','Regular')

In [38]:
combinedf.Item_Visibility.describe()

count    14204.000000
mean         0.065953
std          0.051459
min          0.000000
25%          0.027036
50%          0.054021
75%          0.094037
max          0.328391
Name: Item_Visibility, dtype: float64

In [39]:
combinedf.Item_MRP.describe()

count    14204.000000
mean       141.004977
std         62.086938
min         31.290000
25%         94.012000
50%        142.247000
75%        185.855600
max        266.888400
Name: Item_MRP, dtype: float64

In [40]:
combinedf.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [41]:
objcols=['Item_Type','Outlet_Identifier','Outlet_Size','Outlet_Location_Type',
       'Outlet_Type']

In [42]:
for col in objcols:
    freq=combinedf[col].value_counts(dropna=False)
    print (freq)    # to see the output, if not given print it will store the data in backend.

Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: Item_Type, dtype: int64
OUT027    1559
OUT013    1553
OUT049    1550
OUT046    1550
OUT035    1550
OUT045    1548
OUT018    1546
OUT017    1543
OUT010     925
OUT019     880
Name: Outlet_Identifier, dtype: int64
Medium     4655
Missing    4016
Small      3980
High       1553
Name: Outlet_Size, dtype: int64
Tier 3    5583
Tier 2    4641
Tier 1    3980
Name: Outlet_Location_Type, dtype: int64
Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

In [43]:
combinedf.Item_Identifier.head(10)

0    FDA15
1    DRC01
2    FDN15
3    FDX07
4    NCD19
5    FDP36
6    FDO10
7    FDP10
8    FDH17
9    FDU28
Name: Item_Identifier, dtype: object

In [44]:
#Creation of new variable
combinedf['Iteam_code']=combinedf.Item_Identifier.apply(lambda x:x[0:2]) # split the first 2 alphabets of item identifier and created new column as item code

In [45]:
combinedf.Iteam_code.value_counts(dropna=False)
# FD-Food
#NC-Non consumables
#DR-D rinks

FD    10201
NC     2686
DR     1317
Name: Iteam_code, dtype: int64

In [46]:
# Create ne variable called 'outlet_Age' using "outlet establishment year"
combinedf["Outlet_Age"]=2022-combinedf.Outlet_Establishment_Year

In [47]:
combinedf.Outlet_Age.describe()

count    14204.000000
mean        24.169319
std          8.371664
min         13.000000
25%         18.000000
50%         23.000000
75%         35.000000
max         37.000000
Name: Outlet_Age, dtype: float64

In [48]:
combinedf.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales', 'Iteam_code', 'Outlet_Age'],
      dtype='object')

In [49]:
numcols=combinedf[['Item_Weight','Item_Visibility','Item_MRP','Outlet_Age']]
objcols=combinedf[['Item_Fat_Content','Item_Type','Outlet_Identifier','Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type','Iteam_code',]]

In [50]:
numcols.head()  # numbers are in hundreds, decimals, tens
# scale the data

   Item_Weight  Item_Visibility  Item_MRP  Outlet_Age
0         9.30         0.016047  249.8092          23
1         5.92         0.019278   48.2692          13
2        17.50         0.016760  141.6180          23
3        19.20         0.000000  182.0950          24
4         8.93         0.000000   53.8614          35

In [51]:
# Standardisation

from sklearn.preprocessing import StandardScaler

In [52]:
scaler=StandardScaler() #StandardScaler is renamed as scaler

In [53]:
numcols_std_scale=scaler.fit_transform(numcols)

In [54]:
numcols_std_scale=pd.DataFrame(numcols_std_scale,columns=numcols.columns)

In [55]:
numcols_std_scale.head()  # values are in bothe -ve and +ve as the values are both above and below mean.

   Item_Weight  Item_Visibility  Item_MRP  Outlet_Age
0    -0.824939        -0.969852  1.752511   -0.139681
1    -1.623224        -0.907063 -1.493696   -1.334228
2     1.111729        -0.956000  0.009874   -0.139681
3     1.513233        -1.281712  0.661838   -0.020226
4    -0.912325        -1.281712 -1.403623    1.293777

In [56]:
from sklearn.preprocessing import MinMaxScaler

In [57]:
minmax=MinMaxScaler()

In [58]:
numcols_minmax=minmax.fit_transform(numcols)

In [59]:
numcols_minmax=pd.DataFrame(numcols_minmax,columns=numcols.columns)

In [60]:
from sklearn.preprocessing import RobustScaler

In [61]:
robust=RobustScaler()

In [62]:
numcols_robust=robust.fit_transform(numcols)

In [63]:
numcols_robust=pd.DataFrame(numcols_robust,columns=numcols.columns)

In [64]:
numcols_robust.head()

   Item_Weight  Item_Visibility  Item_MRP  Outlet_Age
0    -0.521322        -0.566751  1.171145    0.000000
1    -1.025799        -0.518530 -1.023237   -0.588235
2     0.702559        -0.556113 -0.006849    0.000000
3     0.956290        -0.806258  0.433868    0.058824
4    -0.576545        -0.806258 -0.962349    0.705882

In [65]:
#Data tarnsformation for non numeric categorical variables
objcols.head()     # object or text data

# We have to encode the text as the algorithem doesnt accept the text

,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Iteam_code
0,Low Fat,Dairy,OUT049,Medium,Tier 1,Supermarket Type1,FD
1,Regular,Soft Drinks,OUT018,Medium,Tier 3,Supermarket Type2,DR
2,Low Fat,Meat,OUT049,Medium,Tier 1,Supermarket Type1,FD
3,Regular,Fruits and Vegetables,OUT010,Missing,Tier 3,Grocery Store,FD
4,Low Fat,Household,OUT013,High,Tier 3,Supermarket Type1,NC

In [66]:
from sklearn.preprocessing import LabelEncoder

In [67]:
le=LabelEncoder

NameError: name 'x' is not defined